body{
    background-image: url("/assets/images/joypad.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-heading {
    color: #fff;
    font-size: 30px;
}